@import 'tailwindcss';

/* Fondo global para toda la app */
body {
  @apply bg-gray-900 text-white; /* color de texto opcional */
  
  /* Imagen de fondo */
  background-image: url('/images/background/backgroundpage1.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; 
}

